fastapi
uvicorn[standard]
pydantic










// {
//    "Acai Oil": { 
//     "Oleic Acid": "40–60%", 
//     "Palmitic Acid": "17–28%", 
//     "Linoleic Acid": "10–22%", 
//     "Stearic Acid": "1.5–6%", 
//     "Palmitoleic Acid": "2-6%", 
//     "Vaccenic Acid": "3-4.5%"
//   }, 
 
//   "Almond Oil": { 
//     "Oleic Acid": "60–80%", 
//     "Linoleic Acid": "10–30%", 
//     "Palmitic Acid": "5–10%", 
//     "Stearic Acid": "1–3%" 
//   }, 
//    "Aloe Vera Butter": { 
//         "Steric Acid": " 6-17%", 
//         "Lauric Acid": "44-57%", 
//         "Palmitic Acid": "7-12%", 
//         "Caprylic Acid": " 4-10%", 
//         "Capric Acid" : "4-10%" , 
//         "Myristic Acid" : "13-21%" 
//     }, 
//    "Amla Oil": { 
//         "Oleic Acid": "26.4%", 
//         "Linoleic Acid": "51%", 
//         "Linolenic Acid": "11.8%",
//         "Palmitic Acid": "2.3%", 
//         "Stearic Acid": "9%" ,
//         "Myristic Acid": "9%" 
//     }, 
//       "Apple Seed Oil": { 
//         "Oleic Acid": "32-46%", 
//         "Linoleic Acid": "45-60%", 
//         "Palmitic Acid": "5-10%", 
//         "Stearic Acid": "1-3%", 
//         "Linolenic Acid": "1%", 
//         "Arachidic Acid": "2%" 
//     }, 
//     "Apricot Kernel Oil": { 
//         "Oleic Acid": "58.3–73.4%", 
//         "Linoleic Acid": "18.8–31.7%", 
//         "Palmitic Acid": "4–4.5%", 
//         "Stearic Acid": "1–1.4%" 
//     }, 
//     "Argan Oil": { 
//         "Oleic Acid": "43–49%", 
//         "Linoleic Acid": "29–36%", 
//         "Palmitic Acid": "11–15%", 
//         "Stearic Acid": "4–7%" 
//     }, 
//     "Avocado Oil": { 
//         "Oleic Acid": "55–75%", 
//        "Palmitic Acid": "12–20%", 
//         "Linoleic Acid": "9–17%", 
//         "Stearic Acid": "1–3%" ,
//         "Palmitoleic Acid": "2-10%"
//     }, 
//     "Babassu Oil": { 
//         "Lauric Acid": "40–55%", 
//         "Myristic Acid": "14–20%", 
//         "Palmitic Acid": "7–11%", 
//         "Stearic Acid": "2-6%", 
//         "Oleic Acid": "10-18%",
//         "Caprylic Acid": "2-8%", 
//         "Capric Acid": "2-7%" 
//     }, 
//     "Bacuri Butter": { 
//         "Oleic Acid": "22-27%", 
//         "Palmito Acid": "67-75%", 
//         "Palmitoleic Acid": "3-7%" 
// } ,
//     "Baobab Oil": { 
//         "Oleic Acid": "30-40%", 
//         "Linoleic Acid": "24-34%", 
//         "Palmitic Acid": "18-30%", 
//         "Stearic Acid": "2-8%", 
//        "Palmitoleic Acid":"1%", 
//        "Linolenic Acid":"1-3%"
//     }, 
//     "Bayberry Wax": { 
//         "Myristic Acid": "32%", 
//         "Palmitic Acid": "17-47%", 
//         "Palmitoleic Acid": "16–54%", 
//         "Stearic Acid": "20–30%", 
//         "Oleic Acid": "46.9-46.9%", 
//         "Linolenic Acid": "37-39.5%" 
//             }
 
 

  
// }





{

    "Acai Oil,Organic": {
    "Oleic Acid": "40–60%",
    "Palmitic Acid": "17–28%",
    "Linoleic Acid": "22%"
  },
  "Almond Oil, Sweet": {
    "Oleic Acid": "62–86%",
    "Linoleic Acid": "20–30%",
    "Palmitic Acid": "6–8%"
  },


 
  

     "Acai Oil": { 
    "Oleic Acid": "40–60%", 
    "Palmitic Acid": "17–28%", 
    "Linoleic Acid": "10–22%", 
    "Stearic Acid": "1.5–6%", 
    "Palmitoleic Acid": "2-6%", 
    "Vaccenic Acid": "3-4.5%"
  }, 
 
  "Almond Oil": { 
    "Oleic Acid": "60–80%", 
    "Linoleic Acid": "10–30%", 
    "Palmitic Acid": "5–10%", 
    "Stearic Acid": "1–3%" 
  }, 
   "Aloe Vera Butter": { 
        "Steric Acid": " 6-17%", 
        "Lauric Acid": "44-57%", 
        "Palmitic Acid": "7-12%", 
        "Caprylic Acid": " 4-10%", 
        "Capric Acid" : "4-10%" , 
        "Myristic Acid" : "13-21%" 
    }, 
   "Amla Oil": { 
        "Oleic Acid": "26.4%", 
        "Linoleic Acid": "51%", 
        "Linolenic Acid": "11.8%",
        "Palmitic Acid": "2.3%", 
        "Stearic Acid": "9%" ,
        "Myristic Acid": "9%" 
    }, 
      "Apple Seed Oil": { 
        "Oleic Acid": "32-46%", 
        "Linoleic Acid": "45-60%", 
        "Palmitic Acid": "5-10%", 
        "Stearic Acid": "1-3%", 
        "Linolenic Acid": "1%", 
        "Arachidic Acid": "2%" 
    }, 
    "Apricot Kernel Oil": { 
        "Oleic Acid": "58.3–73.4%", 
        "Linoleic Acid": "18.8–31.7%", 
        "Palmitic Acid": "4–4.5%", 
        "Stearic Acid": "1–1.4%" 
    }, 
    "Argan Oil": { 
        "Oleic Acid": "43–49%", 
        "Linoleic Acid": "29–36%", 
        "Palmitic Acid": "11–15%", 
        "Stearic Acid": "4–7%" 
    }, 
    "Avocado Oil": { 
        "Oleic Acid": "55–75%", 
       "Palmitic Acid": "12–20%", 
        "Linoleic Acid": "9–17%", 
        "Stearic Acid": "1–3%" ,
        "Palmitoleic Acid": "2-10%"
    }, 
    "Babassu Oil": { 
        "Lauric Acid": "40–55%", 
        "Myristic Acid": "14–20%", 
        "Palmitic Acid": "7–11%", 
        "Stearic Acid": "2-6%", 
        "Oleic Acid": "10-18%",
        "Caprylic Acid": "2-8%", 
        "Capric Acid": "2-7%" 
    }, 
    "Bacuri Butter": { 
        "Oleic Acid": "22-27%", 
        "Palmito Acid": "67-75%", 
        "Palmitoleic Acid": "3-7%" 
} ,
    "Baobab Oil": { 
        "Oleic Acid": "30-40%", 
        "Linoleic Acid": "24-34%", 
        "Palmitic Acid": "18-30%", 
        "Stearic Acid": "2-8%", 
       "Palmitoleic Acid":"1%", 
       "Linolenic Acid":"1-3%"
    }, 
    "Bayberry Wax": { 
        "Myristic Acid": "32%", 
        "Palmitic Acid": "17-47%", 
        "Palmitoleic Acid": "16–54%", 
        "Stearic Acid": "20–30%", 
        "Oleic Acid": "46.9-46.9%", 
        "Linolenic Acid": "37-39.5%" 
            },

    
   

}












